---
//* Layout
import Layout from '../layouts/Layout.astro';
import NavBar from '../layouts/NavBar.astro';
import Footer from '../layouts/Footer.astro';
---


<Layout title="Loopsware | About">
    <NavBar />
    <main>
        <!-- Main section -->
        <div class="my-10">
			<div class="p-16">
				<h2 class="text-5xl font-black">About</h2>
				<p class="text-xl font-medium my-4">
					A little bit about this project.
				</p>   
			</div>
		</div>
    </main>
    <Footer />
</Layout>