---
//* Layout
import Layout from '../layouts/Layout.astro';
import NavBar from '../layouts/NavBar.astro';
import Footer from '../layouts/Footer.astro';
//* Components
import FounderCard from '../components/FounderCard.astro';
import FooterLabel from '../components/FooterLabel.astro';
import ComputerScene from '../components/ComputerScene.jsx';
---

<Layout title="Loopsware | About">
    <NavBar />
    <main>
        <!-- Main section -->
        <div class="about-section my-20 md:my-10">
			<div class="p-6 md:p-8 lg:p-16">
				<div class="flex mb-6">
					<div class="h-8 bg-lime-200">
						<h2 style={{"font-family": "Grotesque"}} class="text-4xl md:text-5xl font-black translate-x-2">About</h2>
					</div>
				</div>
				<p style={{"font-family": "Telegraf", "font-style": "medium"}} class="text-xl font-medium my-4">
					More about this project and <br />
                    a bit of the context of what we do
				</p>
                <p style={{"font-family": "Inter", "font-style": "medium"}} class="text-lg lg:text-justify font-medium my-8">
                    A couple of years ago I get into the world of React and get into React Native immediately because of the potential it has <br class="block md:hidden lg:block" />
                    and the great ecosystem and community behind it. Having also background in native mobile development,  <br class="block md:hidden lg:block" />
                    I was amazed by the idea of having a single codebase for both platforms.
                </p>
                <p style={{"font-family": "Inter", "font-style": "medium"}} class="text-lg lg:text-justify font-medium mt-8">
                    I'm truly convinced React Native is the best wat to build cross-platform experiences for native and the web <br class="block md:hidden lg:block" />
                    and take the initiative to help individuals, startups and companies to build real universal apps with less of the time and cost. <br class="block md:hidden lg:block" />
                </p>
                <p style={{"font-family": "Inter", "font-style": "medium"}} class="text-lg lg:text-justify font-medium mt-8">
                    That's why I started Loopsware. A solo cross-platform development agency (Yes with "We" I mean "me, myself and I"). <br class="block md:hidden lg:block" />
                    But don't worry, your project is in good hands. You receive efficiency, flexibility and speed.
                </p>    
                <div class="flex flex-col md:flex-row mt-8 md:mt-16">
                    <div class="w-full md:w-8/12">
                        <div class="flex justify-between mt-2">
                            <div class="flex flex-col pr-4 lg:pr-8">
                                <img class="h-12 w-16 xl:h-16 xl:w-16" src="/images/lightbulb_3d.png" alt="3D lightbulb" />
                                <p style={{"font-family": "Inter", "font-style": "bold"}} class="text-lg xl:text-xl font-black">Philosophy</p>
                                <p class="md:text-sm lg:text-md xl:text-lg my-4">
                                    Offer customizable solutions and the best experience to our clients.
                                    behind every screen it always should be a great design. 
                                </p>
                            </div>
                            <div class="flex flex-col pr-4 lg:pr-8">
                                <img class="h-12 w-20 xl:h-16 xl:w-24" src="/images/handshake_3d.png" alt="3D handshake" />
                                <p style={{"font-family": "Inter", "font-style": "bold"}} class="text-lg xl:text-xl font-black">Compromise</p>
                                <p class="md:text-sm lg:text-md xl:text-lg my-4">
                                    The client is our most important asset. We are committed to deliver the best results.
                                    and make sure the final product is released. 
                                </p>
                            </div>
                        </div>
                        <div class="flex justify-between my-8">
                            <div class="flex flex-col pr-4 lg:pr-8">
                                <img class="h-12 w-12 xl:h-16 xl:w-16" src="/images/flag_3d.png" alt="3D flag" />
                                <p style={{"font-family": "Inter", "font-style": "bold"}} class="text-lg xl:text-xl font-black">Mission</p>
                                <p class="md:text-sm lg:text-md xl:text-lg my-4">
                                    Create the best cross-platform experiences for native platforms and the web.
                                    helping every project to reach its full potential.
                                </p>
                            </div>
                            <div class="flex flex-col pr-4 lg:pr-8">
                                <img class="h-12 w-12 xl:h-16 xl:w-16" src="/images/react_3d.png" alt="3D react logo" />
                                <p style={{"font-family": "Inter", "font-style": "bold"}} class="text-lg md:text-xl font-black">Why React?</p>
                                <p class="md:text-sm lg:text-md xl:text-lg my-4">
                                    React and React Native is the best way to build cross-platform experiences for native platforms 
                                    and the web. and we are experts in it. 
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="w-full md:w-6/12 lg:w-4/12">
                        <FounderCard />
                    </div>
                </div>
                <div class="hidden md:block w-4/6">
				<FooterLabel title="About" />
			</div>
			</div>
		</div>
        <!-- Tech Stack -->
        <div class="stack-section my-10">
            <div class="p-6 md:p-8 lg:p-16">
                <div class="flex mb-6">
					<div class="h-8 bg-lime-200">
						<h2 style={{"font-family": "Grotesque"}} class="text-4xl md:text-5xl font-black translate-x-2">Tech Stack</h2>
					</div>
				</div>
				<p style={{"font-family": "Telegraf", "font-style": "medium"}} class="text-xl font-medium my-4">
					The tools we use to get the job done <br />
                    and make your ideas a real thing
				</p>
                <div class="flex flex-col md:flex-row w-full justify-between items-center">
                    <div class="w-full md:w-11/12 xl:w-7/12">
                        <div class="grid grid-cols-3 my-8 md:my-0">
                            <div class="my-4">
                                <a href="https://react.dev/" target="_blank" class="flex flex-col justify-center items-center border-3 border-gray-300 hover:border-lime-200 rounded-2xl p-2 md:p-4 xl:p-8 my-3 lg:my-8 mr-3 lg:mr-8">
                                    <img class="w-14 h-12 lg:w-24 lg:h-20 xl:w-28 xl:h-24" src="/images/react_logo.png" alt="React logo" />
                                    <p style={{"font-family": "Telegraf", "font-size": "bold"}} class="text-md lg:text-xl font-black mt-2 md:mt-4">React</p>
                                </a>
                                <a href="https://nodejs.org/en/about" target="_blank" class="flex flex-col justify-center items-center border-3 border-gray-300 hover:border-lime-200 rounded-2xl p-2 md:p-4 xl:p-8 my-3 lg:my-8 mr-3 lg:mr-8">
                                    <img class="w-12 h-12 lg:w-20 lg:h-20 xl:w-24 xl:h-24" src="/images/nodejs_logo.png" alt="React logo" />
                                    <p style={{"font-family": "Telegraf", "font-size": "bold"}} class="text-md lg:text-xl font-black mt-2 md:mt-4">Node.js</p>
                                </a>
                            </div>
                            <div class="my-4">
                                <a href="https://expo.dev/" target="_blank" class="flex flex-col justify-center items-center border-3 border-gray-300 hover:border-lime-200 rounded-2xl p-2 md:p-4 xl:p-8 my-3 lg:my-8 mr-3 lg:mr-8">
                                    <img class="w-12 h-12 lg:w-24 lg:h-20 xl:w-28 xl:h-24" src="/images/expo_logo.svg" alt="React logo" />
                                    <p style={{"font-family": "Telegraf", "font-size": "bold"}} class="text-md lg:text-xl font-black mt-2 md:mt-4">Expo</p>
                                </a>
                                <a href="https://swift.org/" target="_blank" class="flex flex-col justify-center items-center border-3 border-gray-300 hover:border-lime-200 rounded-2xl p-2 md:p-4 xl:p-8 my-3 lg:my-8 mr-3 lg:mr-8">
                                    <img class="w-14 h-12 lg:w-24 lg:h-20 xl:w-28 xl:h-24" src="/images/swift_logo.png" alt="React logo" />
                                    <p style={{"font-family": "Telegraf", "font-size": "bold"}} class="text-md lg:text-xl font-black mt-2 md:mt-4">Swift</p>
                                </a>
                            </div>
                            <div class="my-4">
                                <a href="https://reactnative.dev/" target="_blank" class="flex flex-col justify-center items-center border-3 border-gray-300 hover:border-lime-200 rounded-2xl p-2 md:p-4 xl:p-8 my-3 lg:my-8 mr-3 lg:mr-8">
                                    <img class="w-14 h-12 lg:w-24 lg:h-20 xl:w-28 xl:h-24" src="/images/react_native_logo.png" alt="React logo" />
                                    <p style={{"font-family": "Telegraf", "font-size": "bold"}} class="text-xs md:text-lg xl:text-xl font-black line-clamp-1 mt-4">React Native</p>
                                </a>
                                <a href="https://kotlinlang.org/" target="_blank" class="flex flex-col justify-center items-center border-3 border-gray-300 hover:border-lime-200 rounded-2xl p-2 md:p-4 xl:p-8 my-3 lg:my-8 mr-3 lg:mr-8">
                                    <img class="w-12 h-12 lg:w-20 lg:h-20 xl:w-24 xl:h-24" src="/images/kotlin_logo.png" alt="React logo" />
                                    <p style={{"font-family": "Telegraf", "font-size": "bold"}} class="text-md lg:text-xl font-black mt-2 md:mt-4">Kotlin</p>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="flex justify-center lg:justify-start">
                        <ComputerScene client:load />
                        <!-- <div id="scene" class="cursor-grab"></div> -->
                    </div>
                </div>
                <div class="hidden md:block w-4/6 my-8">
				<FooterLabel title="About" />
			</div>
            </div>
        </div>
    </main>
    <Footer />
</Layout>

<script is:inline type="module">
    import anime from 'https://cdn.skypack.dev/animejs';
    
    const aboutSection = document.querySelector('.about-section');
    const stackSection = document.querySelector('.stack-section');
    
    const observer = new IntersectionObserver(function(entries) {
        entries.forEach(function(entry) {
            if (entry.isIntersecting) {
                anime({
                    targets: entry.target,
                    opacity: [0, 1], // Fade the section in
                    translateY: [250, 0], // Move the section up
                    duration: 2000,
				    delay: entry.target === aboutSection ? 0 : 500,
                    easing: 'easeOutExpo' // Use an exponential easing function
                });
                observer.unobserve(entry.target);
            }
        });
    }, {
        rootMargin: '-5% 0px', // Trigger when the top of the screen is halfway to the section
    });

    observer.observe(aboutSection);
    observer.observe(stackSection);
</script>