---
//* Layout
import Layout from '../layouts/Layout.astro';
import NavBar from '../layouts/NavBar.astro';
import Footer from '../layouts/Footer.astro';
---


<Layout title="Loopsware | About">
    <NavBar />
    <main>
        <!-- Main section -->
        <div class="my-10">
			<div class="p-16">
				<h2 class="text-5xl font-black">About</h2>
				<p class="text-xl font-medium my-4">
					A little bit about this project.
				</p>
                <p class="text-lg font-medium">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse dapibus metus ut mattis efficitur.<br />
                    Suspendisse dapibus metus ut mattis efficitur. Suspendisse dapibus metus ut mattis efficitur.
                </p>   
                <div class="grid grid-cols-1 my-8">
                    <div class="w-8/12">
                        <div class="flex justify-between my-8">
                            <div class="flex flex-col">
                                <img class="h-16 w-20" src="/public/lightbulb_3d.png" alt="3D lightbulb" />
                                <p class="text-xl font-black">Philosophy</p>
                                <p class="my-4">
                                    Lorem ipsum dolor sit amet, consec adipiscing elit. Suspendisse dapibus metus ut mattis efficitur. 
                                </p>
                            </div>
                            <div class="flex flex-col">
                                <img class="h-16 w-24" src="/public/handshake_3d.png" alt="3D handshake" />
                                <p class="text-xl font-black">Compromise</p>
                                <p class="my-4">
                                    Lorem ipsum dolor sit amet, consec adipiscing elit. Suspendisse dapibus metus ut mattis efficitur. 
                                </p>
                            </div>
                        </div>
                        <div class="flex justify-between my-8">
                            <div class="flex flex-col">
                                <img class="h-16 w-16" src="/public/flag_3d.png" alt="3D flag" />
                                <p class="text-xl font-black">Mission</p>
                                <p class="my-4">
                                    Lorem ipsum dolor sit amet, consec adipiscing elit. Suspendisse dapibus metus ut mattis efficitur. 
                                </p>
                            </div>
                            <div class="flex flex-col">
                                <img class="h-16 w-16" src="/public/react_3d.png" alt="3D react logo" />
                                <p class="text-xl font-black">Why React?</p>
                                <p class="my-4">
                                    Lorem ipsum dolor sit amet, consec adipiscing elit. Suspendisse dapibus metus ut mattis efficitur. 
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="w-4/12 bg-red-300"></div>
                </div>
			</div>
		</div>
        <!-- Tech Stack -->
    </main>
    <Footer />
</Layout>