---
//* Layout
import Layout from '../layouts/Layout.astro';
import NavBar from '../layouts/NavBar.astro';
import Footer from '../layouts/Footer.astro';
//* Components
import FounderCard from '../components/FounderCard.astro';
import FooterLabel from '../components/FooterLabel.astro';
---


<Layout title="Loopsware | About">
    <NavBar />
    <main>
        <!-- Main section -->
        <div class="my-10">
			<div class="p-6 md:p-16">
				<h2 class="text-4xl md:text-5xl font-black">About</h2>
				<p class="text-xl font-medium my-4">
					More about this project and <br /> who is behind it.
				</p>
                <p class="text-lg xl:text-xl text-justify font-medium">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse dapibus metus ut mattis efficitur.<br />
                    Suspendisse dapibus metus ut mattis efficitur. Suspendisse dapibus metus ut mattis efficitur.
                </p>   
                <div class="flex flex-col md:flex-row mt-8 md:mt-16">
                    <div class="w-full md:w-8/12">
                        <div class="flex justify-between mt-2">
                            <div class="flex flex-col pr-4 md:pr-8">
                                <img class="h-12 w-16 xl:h-16 xl:w-20" src="/public/lightbulb_3d.png" alt="3D lightbulb" />
                                <p class="text-lg xl:text-xl font-black">Philosophy</p>
                                <p class="my-4">
                                    Lorem ipsum dolor sit amet, consec adipiscing elit. Suspendisse dapibus metus ut mattis efficitur.
                                    Lorem ipsum dolor sit amet. 
                                </p>
                            </div>
                            <div class="flex flex-col pr-4 md:pr-8">
                                <img class="h-12 w-20 xl:h-16 xl:w-24" src="/public/handshake_3d.png" alt="3D handshake" />
                                <p class="text-lg xl:text-xl font-black">Compromise</p>
                                <p class="my-4">
                                    Lorem ipsum dolor sit amet, consec adipiscing elit. Suspendisse dapibus metus ut mattis efficitur. 
                                    Lorem ipsum dolor sit amet.
                                </p>
                            </div>
                        </div>
                        <div class="flex justify-between my-8">
                            <div class="flex flex-col pr-4 md:pr-8">
                                <img class="h-12 w-12 xl:h-16 xl:w-16" src="/public/flag_3d.png" alt="3D flag" />
                                <p class="text-lg xl:text-xl font-black">Mission</p>
                                <p class="my-4">
                                    Lorem ipsum dolor sit amet, consec adipiscing elit. Suspendisse dapibus metus ut mattis efficitur. 
                                    Lorem ipsum dolor sit amet.
                                </p>
                            </div>
                            <div class="flex flex-col pr-4 md:pr-8">
                                <img class="h-12 w-12 xl:h-16 xl:w-16" src="/public/react_3d.png" alt="3D react logo" />
                                <p class="text-lg md:text-xl font-black">Why React?</p>
                                <p class="my-4">
                                    Lorem ipsum dolor sit amet, consec adipiscing elit. Suspendisse dapibus metus ut mattis efficitur. 
                                    Lorem ipsum dolor sit amet.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="w-full md:w-4/12">
                        <FounderCard />
                    </div>
                </div>
                <div class="hidden md:block w-2/6">
				<FooterLabel title="About" />
			</div>
			</div>
		</div>
        <!-- Tech Stack -->
        <div class="my-10">
            <div class="p-6 md:p-16">
                <h2 class="text-4xl md:text-5xl font-black">Tech Stack</h2>
				<p class="text-xl font-medium my-4">
					The tools we use to get the job done <br />
                    Don’t worry, we know our tools.
				</p>
                <div class="flex flex-col md:flex-row w-full justify-between items-center">
                    <div class="w-full md:w-8/12 xl:w-7/12">
                        <div class="grid grid-cols-3 my-8 md:my-0">
                            <div class="my-4">
                                <a href="https://react.dev/" class="flex flex-col justify-center items-center border-3 border-gray-300 hover:border-lime-200 rounded-2xl p-2 md:p-4 xl:p-8 my-3 md:my-8 mr-3 md:mr-8">
                                    <img class="w-14 h-12 md:w-24 md:h-20 xl:w-28 xl:h-24" src="/public/react_logo.png" alt="React logo" />
                                    <p class="text-md md:text-xl font-black mt-2 md:mt-4">React</p>
                                </a>
                                <a href="https://nodejs.org/en/about" class="flex flex-col justify-center items-center border-3 border-gray-300 hover:border-lime-200 rounded-2xl p-2 md:p-4 xl:p-8 my-3 md:my-8 mr-3 md:mr-8">
                                    <img class="w-12 h-12 md:w-20 md:h-20 xl:w-24 xl:h-24" src="/public/nodejs_logo.png" alt="React logo" />
                                    <p class="text-md md:text-xl font-black mt-2 md:mt-4">Node.js</p>
                                </a>
                            </div>
                            <div class="my-4">
                                <a href="https://expo.dev/" class="flex flex-col justify-center items-center border-3 border-gray-300 hover:border-lime-200 rounded-2xl p-2 md:p-4 xl:p-8 my-3 md:my-8 mr-3 md:mr-8">
                                    <img class="w-12 h-12 md:w-24 md:h-20 xl:w-28 xl:h-24" src="/public/expo_logo.svg" alt="React logo" />
                                    <p class="text-md md:text-xl font-black mt-2 md:mt-4">Expo</p>
                                </a>
                                <a href="https://swift.org/" class="flex flex-col justify-center items-center border-3 border-gray-300 hover:border-lime-200 rounded-2xl p-2 md:p-4 xl:p-8 my-3 md:my-8 mr-3 md:mr-8">
                                    <img class="w-14 h-12 md:w-24 md:h-20 xl:w-28 xl:h-24" src="/public/swift_logo.png" alt="React logo" />
                                    <p class="text-md md:text-xl font-black mt-2 md:mt-4">Swift</p>
                                </a>
                            </div>
                            <div class="my-4">
                                <a href="https://reactnative.dev/" class="flex flex-col justify-center items-center border-3 border-gray-300 hover:border-lime-200 rounded-2xl p-2 md:p-4 xl:p-8 my-3 md:my-8 mr-3 md:mr-8">
                                    <img class="w-14 h-12 md:w-24 md:h-20 xl:w-28 xl:h-24" src="/public/react_native_logo.png" alt="React logo" />
                                    <p class="text-xs md:text-xl font-black mt-4">React Native</p>
                                </a>
                                <a href="https://kotlinlang.org/" class="flex flex-col justify-center items-center border-3 border-gray-300 hover:border-lime-200 rounded-2xl p-2 md:p-4 xl:p-8 my-3 md:my-8 mr-3 md:mr-8">
                                    <img class="w-12 h-12 md:w-20 md:h-20 xl:w-24 xl:h-24" src="/public/kotlin_logo.png" alt="React logo" />
                                    <p class="text-md md:text-xl font-black mt-2 md:mt-4">Kotlin</p>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="flex justify-center md:justify-start">
                        <img class="w-10/12 xl:w-11/12" src="/public/retrocomputer_3d.webp" alt="Retro computer" />
                    </div>
                </div>
                <div class="hidden md:block w-2/6 my-8">
				<FooterLabel title="About" />
			</div>
            </div>
        </div>
    </main>
    <Footer />
</Layout>