---
//* Layout
import Layout from '../layouts/Layout.astro';
import NavBar from '../layouts/NavBar.astro';
import Footer from '../layouts/Footer.astro';
---


<Layout title="Loopsware | About">
    <NavBar />
    <main>
        <!-- Main section -->
        <div class="my-10">
			<div class="p-16">
				<h2 class="text-5xl font-black">About</h2>
				<p class="text-xl font-medium my-4">
					A little bit about this project.
				</p>
                <p class="text-lg font-medium">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse dapibus metus ut mattis efficitur.<br />
                    Suspendisse dapibus metus ut mattis efficitur. Suspendisse dapibus metus ut mattis efficitur.
                </p>   
                <div class="grid grid-cols-2 bg-yellow-300">
                    <div class="w-9/12 bg-teal-400">
                        <div class="flex justify-between">
                            <div class="flex flex-col">
                                <p class="text-xl font-black">Philosophy</p>
                            <p class="my-4">
                                Lorem ipsum dolor sit amet, consec adipiscing elit. Suspendisse dapibus metus ut mattis efficitur. 
                            </p>
                            </div>
                            <p class="text-xl font-black">Compromise</p>
                            <p class="my-4">
                                Lorem ipsum dolor sit amet, consec adipiscing elit. Suspendisse dapibus metus ut mattis efficitur. 
                            </p>
                        </div>
                    </div>
                    <div class="w-3/12"></div>
                </div>
			</div>
		</div>
        <!-- Tech Stack -->
    </main>
    <Footer />
</Layout>