---
//* Layout
import Layout from '../layouts/Layout.astro';
import NavBar from '../layouts/NavBar.astro';
import Footer from '../layouts/Footer.astro';
//* Components
import FooterLabel from '../components/FooterLabel.astro';
---

<Layout title="Loopsware | About">
    <NavBar />
    <main>
        <!-- Main section -->
        
    </main>
    <Footer />
</Layout>

<script is:inline type="module">
    import anime from 'https://cdn.skypack.dev/animejs';
    
    const aboutSection = document.querySelector('.about-section');
    const stackSection = document.querySelector('.stack-section');
    
    const observer = new IntersectionObserver(function(entries) {
        entries.forEach(function(entry) {
            if (entry.isIntersecting) {
                anime({
                    targets: entry.target,
                    opacity: [0, 1], // Fade the section in
                    translateY: [250, 0], // Move the section up
                    duration: 2000,
				    delay: entry.target === aboutSection ? 0 : 500,
                    easing: 'easeOutExpo' // Use an exponential easing function
                });
                observer.unobserve(entry.target);
            }
        });
    }, {
        rootMargin: '-5% 0px', // Trigger when the top of the screen is halfway to the section
    });

    observer.observe(aboutSection);
    observer.observe(stackSection);
</script>