---
//* Layout
import Layout from '../layouts/Layout.astro';
import NavBar from '../layouts/NavBar.astro';
import Footer from '../layouts/Footer.astro';
//* Components
import FounderCard from '../components/FounderCard.astro';
import FooterLabel from '../components/FooterLabel.astro';
---


<Layout title="Loopsware | About">
    <NavBar />
    <main>
        <!-- Main section -->
        <div class="my-10">
			<div class="p-6 md:p-16">
				<h2 class="text-4xl md:text-5xl font-black">About</h2>
				<p class="text-xl font-medium my-4">
					More about this project and <br /> who is behind it.
				</p>
                <p class="text-lg text-justify font-medium">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse dapibus metus ut mattis efficitur.<br />
                    Suspendisse dapibus metus ut mattis efficitur. Suspendisse dapibus metus ut mattis efficitur.
                </p>   
                <div class="flex flex-col md:flex-row mt-8">
                    <div class="w-full md:w-8/12">
                        <div class="flex justify-between mt-2">
                            <div class="flex flex-col pr-4 md:pr-8">
                                <img class="h-12 w-16 md:h-16 md:w-20" src="/public/lightbulb_3d.png" alt="3D lightbulb" />
                                <p class="text-xl font-black">Philosophy</p>
                                <p class="my-4">
                                    Lorem ipsum dolor sit amet, consec adipiscing elit. Suspendisse dapibus metus ut mattis efficitur.
                                    Lorem ipsum dolor sit amet. 
                                </p>
                            </div>
                            <div class="flex flex-col pr-4 md:pr-8">
                                <img class="h-12 w-20 md:h-16 md:w-24" src="/public/handshake_3d.png" alt="3D handshake" />
                                <p class="text-xl font-black">Compromise</p>
                                <p class="my-4">
                                    Lorem ipsum dolor sit amet, consec adipiscing elit. Suspendisse dapibus metus ut mattis efficitur. 
                                    Lorem ipsum dolor sit amet.
                                </p>
                            </div>
                        </div>
                        <div class="flex justify-between my-8">
                            <div class="flex flex-col pr-4 md:pr-8">
                                <img class="h-12 w-12 md:h-16 md:w-16" src="/public/flag_3d.png" alt="3D flag" />
                                <p class="text-xl font-black">Mission</p>
                                <p class="my-4">
                                    Lorem ipsum dolor sit amet, consec adipiscing elit. Suspendisse dapibus metus ut mattis efficitur. 
                                    Lorem ipsum dolor sit amet.
                                </p>
                            </div>
                            <div class="flex flex-col pr-4 md:pr-8">
                                <img class="h-12 w-12 md:h-16 md:w-16" src="/public/react_3d.png" alt="3D react logo" />
                                <p class="text-xl font-black">Why React?</p>
                                <p class="my-4">
                                    Lorem ipsum dolor sit amet, consec adipiscing elit. Suspendisse dapibus metus ut mattis efficitur. 
                                    Lorem ipsum dolor sit amet.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="w-4/12">
                        <FounderCard />
                    </div>
                </div>
                <div class="w-2/6">
				    <FooterLabel title="About" />
			    </div>
			</div>
		</div>
        <!-- Tech Stack -->
        <div class="my-10">
            <div class="p-16">
                <h2 class="text-5xl font-black">Tech Stack</h2>
				<p class="text-xl font-medium my-4">
					The tools we use to get the job done <br />
                    Don’t worry, we know our tools.
				</p>
                <div class="flex w-full justify-between items-center">
                    <div class="w-7/12">
                        <div class="grid grid-cols-3">
                            <div class="my-4">
                                <a href="https://react.dev/" class="flex flex-col justify-center items-center border-3 border-gray-300 hover:border-lime-200 rounded-2xl p-8 my-8 mr-8">
                                    <img class="w-28 h-24" src="/public/react_logo.png" alt="React logo" />
                                    <p class="text-xl font-black mt-4">React</p>
                                </a>
                                <a href="https://nodejs.org/en/about" class="flex flex-col justify-center items-center border-3 border-gray-300 hover:border-lime-200 rounded-2xl p-8 my-8 mr-8">
                                    <img class="w-24 h-24" src="/public/nodejs_logo.png" alt="React logo" />
                                    <p class="text-xl font-black mt-4">Node.js</p>
                                </a>
                            </div>
                            <div class="my-4">
                                <a href="https://expo.dev/" class="flex flex-col justify-center items-center border-3 border-gray-300 hover:border-lime-200 rounded-2xl p-8 my-8 mr-8">
                                    <img class="w-28 h-24" src="/public/expo_logo.svg" alt="React logo" />
                                    <p class="text-xl font-black mt-4">Expo</p>
                                </a>
                                <a href="https://swift.org/" class="flex flex-col justify-center items-center border-3 border-gray-300 hover:border-lime-200 rounded-2xl p-8 my-8 mr-8">
                                    <img class="w-28 h-24" src="/public/swift_logo.png" alt="React logo" />
                                    <p class="text-xl font-black mt-4">Swift</p>
                                </a>
                            </div>
                            <div class="my-4">
                                <a href="https://reactnative.dev/" class="flex flex-col justify-center items-center border-3 border-gray-300 hover:border-lime-200 rounded-2xl p-8 my-8 mr-8">
                                    <img class="w-28 h-24" src="/public/react_native_logo.png" alt="React logo" />
                                    <p class="text-xl font-black mt-4">React Native</p>
                                </a>
                                <a href="https://kotlinlang.org/" class="flex flex-col justify-center items-center border-3 border-gray-300 hover:border-lime-200 rounded-2xl p-8 my-8 mr-8">
                                    <img class="w-24 h-24" src="/public/kotlin_logo.png" alt="React logo" />
                                    <p class="text-xl font-black mt-4">Kotlin</p>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="flex">
                        <img class="w-11/12" src="/public/retrocomputer_3d.webp" alt="Retro computer" />
                    </div>
                </div>
                                <div class="w-2/6 my-8">
				    <FooterLabel title="About" />
			    </div>
            </div>
        </div>
    </main>
    <Footer />
</Layout>