---
import  SpeedInsights  from "@vercel/speed-insights/astro"
//* Layout
import Layout from '../layouts/Layout.astro';
import NavBar from '../layouts/NavBar.astro';
import Footer from '../layouts/Footer.astro';
//* UI comps.
---

<Layout title="Loopsware | Creative Lab">
	<SpeedInsights />
	<NavBar />
	<main>
		<!-- Main section -->
		<div class="flex flex-col justify-center items-center xl:h-screen w-full md:my-12 xl:my-0">
			<div class="flex flex-col justify-center items-center px-4 md:px-8 lg:px-16">
				<div class="w-3/12 bg-lime-950 rounded-full p-2 my-8">
					<p style={{"font-family": "Aeonik"}} class="text-lime-300 text-xs text-center">CREATIVE LAB</p>
				</div>
				<h1 style={{"font-family": "Grotesque"}}  class="text-element text-white text-3xl md:text-4xl xl:text-5xl font-black p-2">*We are building <br /> Apps for humans</h1>
				<p style={{"font-family": "Aeonik"}} class="text-element text-white text-center font-normal text-md md:text-lg lg:text-xl xl:text-2xl px-2 py-5">
					<span class="text-lime-300 font-bold">Shapping</span> the next wave <br /> of <span class="text-lime-300 font-bold">AI</span> powered  <span class="text-lime-300 font-bold">products</span>
				</p>
			</div>
			<img class="h-80 w-80 mx-2" src="/images/app_stack.svg" alt="apps stack" />
		</div>
	</main>
	<Footer />
</Layout>

<style>
html {
    scroll-behavior: smooth;
}

#scene,
.services-section,
.benefits-section,
#work,
.testimonials-section,
.contact-section,
.faq-section {
  opacity: 0;
}

.show-text {
animation: slideDownFadeIn 0.3s ease-out forwards;
}

@keyframes slideDownFadeIn {
0% {
    opacity: 0;
    transform: translateY(-20px);
}
100% {
    opacity: 1;
    transform: translateY(0);
}
}
</style>
