---
import  SpeedInsights  from "@vercel/speed-insights/astro"
//* Layout
import Layout from '../layouts/Layout.astro';
import NavBar from '../layouts/NavBar.astro';
import Footer from '../layouts/Footer.astro';
//* UI comps.
---

<Layout title="Creative Lab ✨">
	<SpeedInsights />
	<NavBar />
	<main>
		<!-- Main section -->
		<div class="flex flex-col justify-center items-center xl:h-screen w-full md:my-12 xl:-my-12">
			<div class="flex flex-col justify-center items-center px-4 md:px-8 lg:px-16">
				<h1 style={{"font-family": "Grotesque"}}  class="text-element text-center text-white text-3xl md:text-4xl xl:text-5xl font-black opacity-0 animate-fade-in-up [animation-delay:400ms] p-2">We are building <br /> Apps that think</h1>
				<p style={{"font-family": "Aeonik"}} class="text-element text-white text-center font-normal text-md md:text-lg lg:text-xl xl:text-2xl px-2 py-5 opacity-0 animate-fade-in-up [animation-delay:600ms]">
					<span class="text-lime-300 font-bold">AI</span>-first mobile <span class="text-lime-300 font-bold">apps</span>  <br /> That feel like<span class="text-lime-300 font-bold"> magic</span>. 
				</p>
			</div>
			<img class="h-72 w-72 my-4 animate-levitate transition-all duration-300" src="/images/app_stack.svg" alt="apps stack" />
		</div>
	</main>
	<Footer />
</Layout>

<style>
html {
    scroll-behavior: smooth;
}

#scene,
.services-section,
.benefits-section,
#work,
.testimonials-section,
.contact-section,
.faq-section {
  opacity: 0;
}

.show-text {
animation: slideDownFadeIn 0.3s ease-out forwards;
}

@keyframes slideDownFadeIn {
0% {
    opacity: 0;
    transform: translateY(-20px);
}
100% {
    opacity: 1;
    transform: translateY(0);
}
}
</style>
