---
import  SpeedInsights  from "@vercel/speed-insights/astro"
//* Layout
import Layout from '../layouts/Layout.astro';
import NavBar from '../layouts/NavBar.astro';
import Footer from '../layouts/Footer.astro';
//* UI comps.
import Button from '../components/Button.astro';
import FooterLabel from '../components/FooterLabel.astro';
import Scene from '../components/Scene.jsx';
---

<Layout title="Loopsware | React Native Experts">
	<SpeedInsights />
	<NavBar />
	<main>
		<!-- Main section -->
		<div class="flex flex-col-reverse md:grid md:grid-cols-2 xl:h-screen w-full md:my-12 xl:my-0">
			<div class="flex flex-col justify-center px-4 md:px-8 lg:px-16">
				<h1 style={{"font-family": "Grotesque"}}  class="text-element text-white text-3xl md:text-4xl xl:text-5xl font-black p-2">From brain storming to a real mobile app.</h1>
				<p style={{"font-family": "Telegraf"}} class="text-element text-white font-medium text-md md:text-lg lg:text-xl xl:text-2xl px-2 py-5">
					<span class="font-bold">Expo</span> & <span class="font-bold">React Native</span> cross-platform development agency, 
					We're ready to build your next app idea with full support for iOS & Android.
				</p>
				<div class="flex w-full mt-8">
					<Button title='Pricing' href="/pricing" isBlack />
					<div class="mx-2 md:mx-3 my-2 md:my-0"></div>
					<Button title='Book a call' href="https://cal.com/oliverloops/15min" isBlack={false} />
				</div>
			</div>
		</div>
	</main>
	<Footer />
</Layout>

<style>
html {
    scroll-behavior: smooth;
}

#scene,
.services-section,
.benefits-section,
#work,
.testimonials-section,
.contact-section,
.faq-section {
  opacity: 0;
}

.show-text {
animation: slideDownFadeIn 0.3s ease-out forwards;
}

@keyframes slideDownFadeIn {
0% {
    opacity: 0;
    transform: translateY(-20px);
}
100% {
    opacity: 1;
    transform: translateY(0);
}
}
</style>
