---
import Layout from '../layouts/Layout.astro';
import Button from '../components/Button.astro';
---

<Layout title="Loophau5 Software">
	<main>
		<h1 class="text-black text-6xl text-justify font-bold p-2">We build your app <br /> in just few weeks</h1>
		<div>
			<Button title='Pricing' href="/" isBlack />
			<Button title='Pricing' href="/" isBlack={false} />
		</div>
	</main>
</Layout>
