---
//* Layout
import Layout from '../layouts/Layout.astro';
import NavBar from '../layouts/NavBar.astro';
//* UI comps.
import Button from '../components/Button.astro';
import Availability from '../components/Availability.astro';
import ServiceBoxes from '../components/ServiceBoxes.astro';
import ShowcaseCard from '../components/ShowcaseCard.astro';
import TestimonialCard from '../components/TestimonialCard.astro';
import ContactForm from '../components/ContactForm.astro';
---

<Layout title="Loophau5 Software">
	<NavBar />
	<main>
		<!-- Main section -->
		<div class="grid grid-cols-2 h-screen w-full">
			<div class="flex flex-col justify-center px-16">
				<Availability title={"Currently available"} status={"available"} />
				<h1 class="text-black text-6xl text-justify font-black p-2">We build your app <br /> in just few weeks.</h1>
				<p class="font-medium text-2xl px-2 py-5">
					Your <span class="font-bold">React</span> & <span class="font-bold">React Native</span> expert, go from idea <br />
					to real word app. Our workflows adapts to <br />
					anything your project needs.
				</p>
				<div class="flex w-full mt-8">
					<Button title='Pricing' href="/" isBlack />
					<div class="mx-3"></div>
					<Button title=`Let's Talk` href="/" isBlack={false} />
				</div>
			</div>
			<div class="flex flex-col justify-center items-center">
				<img class="w-3/4 h-3/4" src="/public/phone_3d.png" alt="hand and smartphone illustration" />
			</div>
		</div>
		<!-- Services -->
		<div class="my-10">
			<div class="p-16">
				<h2 class="text-5xl font-black">Services</h2>
				<p class="text-xl font-medium my-4">
					How can we assist you?. We can build your app <br />
					from scratch or give you a hand on existing projects
				</p>   
			</div>
			<ServiceBoxes />
		</div>
		<!-- Work -->
		<div class="my-10">
			<div class="p-16">
				<h2 class="text-5xl font-black">Work</h2>
				<p class="text-xl font-medium my-4">
					We have experience crafting <br />
					mobile digital experiences from scratch. 
				</p>   
			</div>
			<div class="grid grid-cols-2 px-8">
				<div class="flex flex-col items-center">
					<ShowcaseCard title="Medizona" size="large" />
					<div class="flex flex-row justify-around w-full">
						<ShowcaseCard title="Kluu" size="small" />
						<ShowcaseCard title="Arriba" size="small" />
					</div>
				</div>
				<div class="flex flex-col items-center">
					<ShowcaseCard title="Poetical" size="large" />	
					<div class="flex justify-center items-center w-11/12 h-60 border-3 border-gray-300 bg-gray-100 rounded-2xl my-6 cursor-pointer hover:underline">
						<p class="font-black text-xl hover:underline">Your App? &rarr;</p>
					</div>	
				</div>
			</div>
		</div>
		<!-- Testimonials -->
		<div class="h-screen my-10">
			<div class="p-16">
				<h2 class="text-5xl font-black">Testimonials:</h2>
				<p class="text-xl font-medium my-4">
					What some of the customers, <br /> 
					collaborators think about
				</p>   
			</div>
			<div class="grid grid-cols-3 grid-rows-2 justify-between px-16">
				<div class="w-11/12">
					<TestimonialCard testimony='0' />
					<TestimonialCard testimony='1' />
				</div>
				<div class="w-11/12">
					<TestimonialCard testimony='2' />
					<TestimonialCard testimony='3' />
				</div>
				<div  class="w-11/12">
					<TestimonialCard testimony='4' />
					<TestimonialCard testimony='5' />
				</div>
			</div>
		</div>
		<!-- Contact Us -->
		<div class="my-10">
			<div class="grid grid-cols-2 p-16">
				<div>
					<div class="flex flex-col">
						<h2 class="text-4xl font-black">
							Let us know <br />
							about the project
						</h2>
						<p  class="text-xl font-medium my-4">
							Ask any question, tell us more about your <br />
							next app idea. We respond as soon as possible.
						</p>
					</div>
					<img class="h-4/6" src="/public/oliver_3d.webp" alt="Man working on a laptop" />
				</div>
				<div>
					<ContactForm />
				</div>
			</div>
		</div>
	</main>
</Layout>
