---
//* Layout
import Layout from '../layouts/Layout.astro';
import NavBar from '../layouts/NavBar.astro';
import Footer from '../layouts/Footer.astro';
---


<Layout title="Loopsware | Pricing">
    <NavBar />
    <main>
        <div class="my-10">
            <div class="p-16">
                <h2 class="text-5xl font-black">Pricing</h2>
				<p class="text-xl font-medium my-4">
					Checkout the price. Let's work together.
				</p>
            </div>
        </div>
    </main>
    <Footer />
</Layout>