---
//* Layout
import Layout from '../layouts/Layout.astro';
import NavBar from '../layouts/NavBar.astro';
import Footer from '../layouts/Footer.astro';
---


<Layout title="Loopsware | Pricing">
    <NavBar />
    <main>
        <div class="my-10">
            <div class="p-16">
                <h2 class="text-5xl font-black">Pricing</h2>
				<p class="text-xl font-medium my-4">
					Checkout the price. Let's work together.
				</p>
                <div class="flex w-full mt-8">
                    <div class="w-3/12">
                        <img class="h-64" src="/public/moneybag_3d.jpeg" alt="money bag" />
                    </div>
                    <div class="grid grid-cols-3">
                        <div class="flex flex-col items-center border-3 border-gray-200 rounded-2xl p-4">
                            <p class="font-black text-3xl text-center">
                                Project
                            </p>
                            <p class="font-black text-3xl text-center">
                                from scratch
                            </p>
                            <div class="flex justify-center h-24 w-24 bg-lime-200 my-8">
                                <p class="font-black text-8xl">$3K</p>
                            </div>
                            <p class="text-lg text-center font-medium">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse dapibus metus ut mattis efficitur. 
                            </p>
                            <p class="text-gray-400 text-lg my-8">
                                *pricing shows in USD
                            </p>
                        </div>
                        <div class="border-3 border-gray-200 rounded-2xl p-4">
                            <p>
                                Pricing from scratch
                            </p>
                            <p>$2K</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <Footer />
</Layout>