---
//* Layout
import Layout from '../layouts/Layout.astro';
import NavBar from '../layouts/NavBar.astro';
import Footer from '../layouts/Footer.astro';
//* UI comps.
---

<Layout title="Loopsware | Terms & Conditions">
    <NavBar />
    <main>
       <!-- Main content -->
    </main>
    <Footer />
</Layout>

<style>
.custom-list-item::before {
    content: '•';  
    display: inline-block;
    width: 0.5em;
    margin-left: -1em; 
}    
</style>

<script is:inline type="module">
    import anime from 'https://cdn.skypack.dev/animejs';

    const pricingSection = document.querySelector('.prices-section');
    
    const observer = new IntersectionObserver(function(entries) {
        entries.forEach(function(entry) {
            if (entry.isIntersecting) {
                anime({
                    targets: entry.target,
                    opacity: [0, 1], // Fade the section in
                    translateY: [250, 0], // Move the section up
                    duration: 2000,
				    delay: entry.target === pricingSection ? 0 : 500,
                    easing: 'easeOutExpo' // Use an exponential easing function
                });
                observer.unobserve(entry.target);
            }
        });
    }, {
        rootMargin: '-5% 0px', // Trigger when the top of the screen is halfway to the section
    });

    observer.observe(pricingSection);
</script>