---
interface Props {
    title: string;
	status: 'available' | 'few availability' | 'unavailable';
}

const { title, status } = Astro.props;
---

<div class="availability-component flex justify-center items-center h-10 xl:h-11 w-1/2 md:w-3/6 lg:w-2/5 xl:w-1/3 bg-black rounded-full my-6 md:my-10">
    <span class="relative flex h-2 w-2 mr-1.5">
        <span class="animate-ping absolute inline-flex h-full w-full rounded-full bg-lime-300 opacity-1"></span>
        <span class="relative inline-flex rounded-full h-2 w-2 bg-lime-400"></span>
    </span>
    <p style={{ "font-family": "Telegraf", "font-style": "bold" }} class="text-xs lg:text-xs xl:text-sm font-semibold text-white">{title}</p>
</div>

<script type="module">
import anime from 'https://cdn.skypack.dev/animejs';

// New code
const availabilityComponent = document.querySelector('.availability-component');

anime({
    targets: availabilityComponent,
    scale: [0, 1], // Scale the component from 0 to 1
    opacity: [0, 1], // Fade the component in
    duration: 1500,
    easing: 'easeOutElastic(1, .8)' // Use an elastic easing function
});
</script>