---
interface Props {
    title: string;
	status: 'available' | 'few availability' | 'unavailable';
}

const { title, status } = Astro.props;
---

<div class="flex justify-center items-center h-11 md:h-10 xl:h-11 w-1/2 md:w-3/5 lg:w-2/5 xl:w-1/3 bg-black rounded-full my-10">
    <span class="relative flex h-2 w-2 mr-1.5">
        <span class="animate-ping absolute inline-flex h-full w-full rounded-full bg-lime-300 opacity-1"></span>
        <span class="relative inline-flex rounded-full h-2 w-2 bg-lime-400"></span>
    </span>
    <p class="text-sm lg:text-xs xl:text-sm font-semibold text-white">{title}</p>
</div>