---
interface Props {
	title: string;
	isBlack: boolean;
	href: string;
}

const { href, title, isBlack } = Astro.props;
---

<button class=`w-44 h-14 rounded-full ${!isBlack} ${!isBlack ? 'bg-transparent' : 'bg-stone-900'} ${!isBlack ? 'border-3 border-black' : 'border-none'}`>
    <a href={href} class="text-white font-bold">{title}</a>
</button>