---
let lang: string = Astro.props.lang || 'en';
---

<form 
    id="contact-form"
    class="border-3 border-gray-200 rounded-2xl p-6 lg:p-8"
    action="https://formspree.io/f/xpzvlkov"
    method="POST"
>
    <div class="flex">
        <input style={{"font-family": "Inter", "font-style": "medium"}} name="name" type="text"  class="h-14 w-full bg-gray-100 rounded-xl my-2 p-6" placeholder=`${lang === 'en' ? 'Your name' : 'Tu nombre'}` required />
    </div>
    <div class="flex">
        <input style={{"font-family": "Inter", "font-style": "medium"}} name="email" type="email" class="h-14 w-full bg-gray-100 rounded-xl my-2 p-6" placeholder=`${lang === 'en' ? 'Your email' : 'Tu correo electrónico'}` required />
    </div>
    <div class="flex">
        <textarea style={{"font-family": "Inter", "font-style": "medium"}} name="message" class="w-full h-56 bg-gray-100 rounded-xl resize-none my-2 p-6" placeholder=`${lang === 'en' ? 'A short description about your app idea...' : 'Una breve descripción sobre tu siguiente idea...'}` required />
    </div>
    <div class="flex flex-col md:flex-row justify-between items-center mt-4">
        <p style={{"font-family": "Inter", "font-style": "medium"}}>{lang === 'en' ? 'Or contact us:' : 'O contáctanos en: '}<a class="text-blue-400" href="mailto:hello@loophau5.com">hello@loopsware.com</a></p>
        <button type="submit" class="w-full md:w-6/12 lg:w-4/12 xl:w-3/12 bg-stone-900 rounded-full p-4 mt-5 md:mt-0 hover:opacity-90 hover:shadow-lg transition-all">
            <p style={{"font-family": "Telegraf", "font-style": "bold"}} class="text-white font-bold">
                {lang === 'en' ? 'Send' : 'Enviar'}
            </p>
        </button>
    </div>
</form>

<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">

<script is:inline type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
<script is:inline type="module">
import anime from 'https://cdn.skypack.dev/animejs';

const contactForm = document.querySelector('.contact-form');

document.addEventListener('DOMContentLoaded', function() {
    const contactForm = document.querySelector('#contact-form');

    contactForm.addEventListener('submit', async function(e) { // Make the function async
        e.preventDefault();

        try {
            const response = await fetch(contactForm.action, { // Await the fetch request
                method: 'POST',
                body: new FormData(contactForm),
                redirect: 'manual'
            });

            if (response.ok || response.type === 'opaqueredirect') {
                contactForm.reset();
                // Show toast notification
                Toastify({
                    text: "Email sent successfully!",
                    duration: 3000,
                    close: true,
                    gravity: "top", // `top` or `bottom`
                    position: 'center', // `left`, `center` or `right`
                    style: {
                        borderRadius: "50px",
                        background: "linear-gradient(to right, #00b09b, #96c93d)", // Green gradient
                    }
                }).showToast();
            } else {
                    Toastify({
                        text: "Error sending email!",
                        duration: 3000,
                        close: true,
                        gravity: "top", // `top` or `bottom`
                        position: 'center', // `left`, `center` or `right`
                        style: {
                            borderRadius: "50px",
                            background: "linear-gradient(to right, #ff5f6d, #ffc371)", // Red gradient
                        }
                    }).showToast();
                }
            } catch (error) {
                console.error('GLOBAL ERROR ->', error);
            }
    });
});

anime({
    targets: contactForm,
    opacity: [0, 1], // Fade the component in
    translateY: [250, 0], // Move the component up
    duration: 2000,
    delay: 1000, // Delay the animation by 500ms
    easing: 'easeOutExpo' // Use an exponential easing function
});

</script>