
<form class="border-3 border-gray-300 rounded-2xl p-8">
    <div class="flex">
        <input class="h-14 w-full bg-gray-100 rounded-xl my-2 p-6" placeholder="Your name" />
    </div>
    <div class="flex">
        <input class="h-14 w-full bg-gray-100 rounded-xl my-2 p-6" placeholder="Your email" />
    </div>
    <div class="flex">
        <textarea class="w-full h-52 bg-gray-100 rounded-xl resize-none my-2 p-6" placeholder="A short description about your next app idea..." />
    </div>
    <div class="flex justify-between items-center mt-4">
        <p>Or contact us: <a class="text-blue-400" href="mailto:hello@loophau5.com">hello@loophau5.com</a></p>
        <button class="w-3/12 bg-black rounded-full p-4">
            <p class="text-white font-bold">Send</p>
        </button>
    </div>
</form>