---
interface Props {
    title: string;
}

const { title } = Astro.props;
---


<div id=`${title}-bottom` class="flex h-10 w-2/6 items-center sticky mx-16">
    <div class="w-10 border-1 border-black"></div>
    <p class="text-lg ml-2">{title}</p>
</div>