---
interface Props {
    title: string;
}

const { title } = Astro.props;
---


<div id=`${title}-bottom` class="footer-label flex h-10 w-2/6 items-center sticky">
    <div class="w-10 border-1 border-black"></div>
    <p style={{ "font-family": "Telegraf", "font-style": "medium" }} class="text-lg ml-2">{title}</p>
</div>

<script type="module">
import anime from 'https://cdn.skypack.dev/animejs';

// New code
const footerLabel = document.querySelector('.footer-label');

anime({
    targets: footerLabel,
    translateX: [-250, 0], // Move the component from left to right
    opacity: [0, 1], // Fade the component in
    duration: 1500,
    easing: 'easeOutExpo' // Use an exponential easing function
});
</script>