---
import { translations } from '../translations';
// @ts-ignore
let lang: string = Astro.props.lang || 'en';
const founder: string = Astro.props.founder || 'oliver';
---

<div class="flex flex-col justify-between h-8/12 border-3 border-gray-200 rounded-3xl p-6 xl:p-8">
    <div class="flex">
        <img class="h-24 w-24 md:h-20 md:w-20 lg:h-24 lg:w-24 xl:h-28 xl:w-28 rounded-full border-2 border-lime-300" src={founder === "oliver" ? "/images/oliverloops.jpg"  : "/images/fer.jpg" } alt="The founder, Oliver Lopez" />
        <div class="flex flex-col ml-4">
            <p style={{"font-family": "Telegraf", "font-size": "medium"}} class="text-md md:text-sm lg:text-md xl:text-lg text-gray-400">{founder === "oliver" ? translations[lang].founderOne.title : translations[lang].founderTwo.title}</p>
            <p style={{"font-family": "Telegraf", "font-size": "bold"}} class="text-xl md:text-lg lg:text-xl xl:text-3xl font-black">{founder === "oliver" ? translations[lang].founderOne.presentation : translations[lang].founderTwo.presentation}</p> 
            <div class="flex mt-3 md:mt-2">
                <a class="mr-2" href={founder === "oliver" ? "https://linkedin.com/in/oliverloops" : "https://www.linkedin.com/in/fernando-contrers/"}>
                    <img class="h-11 w-11 md:h-9 md:w-9 xl:h-10 xl:w-10 border-2 border-black rounded-full p-1" src="/images/Linkedin logo.svg" alt="linkedin logo"/>
                </a>
                <a class="mr-2" href={founder === "oliver" ? "https://github.com/oliverloops" : "https://github.com/corahama"}>
                    <img class="h-11 w-11 md:h-9 md:w-9 xl:h-10 xl:w-10 border-2 border-black rounded-full p-1" src="/images/Github icons8.svg" alt="github logo"/>
                </a>
            </div>
        </div>
    </div>
    <div>
        <p style={{"font-family": "Inter", "font-weight": "400"}} class="font-medium text-gray-400 text-md mt-5">
        {founder === "oliver" ? translations[lang].founderOne.role : translations[lang].founderTwo.role}
    </p>
    <p style={{"font-family": "Inter", "font-size": "medium"}} class="font-medium text-md xl:text-lg mt-4 mb-2">
        {founder === "oliver" ? translations[lang].founderOne.text : translations[lang].founderTwo.text}
    </p>
    </div>
</div>