<div class="flex flex-col justify-between h-20 w-20 border-2 border-gray-300 p-1">
    <img class="w-4 h-4" src="/images/heart_icon.png" alt="heart icon" />
    <p style={{"font-family": "Telegraf", "font-style": "bold"}} class="text-xs text-gray-400 font-bold">
        Made from <br />
        <span id="locationText">Guanajuato</span>
    </p>
</div>