
<div class="flex flex-col justify-between h-16 w-16 md:h-20 md:w-20 border-2 border-gray-300 p-1">
    <img class="w-3 h-3 md:w-4 md:h-4" src="/public/heart_icon.png" alt="heart icon" />
    <p style={{"font-family": "Telegraf", "font-style": "bold"}} class="text-xs text-gray-400 font-bold">
        Made from <br />
        Guanajuato
    </p>
</div>