---
//* Layout
import Layout from '../../layouts/Layout.astro';
import NavBar from '../../layouts/NavBar.astro';
import Footer from '../../layouts/Footer.astro';
//* Components
import FounderCard from '../../components/FounderCard.astro';
import FooterLabel from '../../components/FooterLabel.astro';
import ComputerScene from '../../components/ComputerScene.jsx';
---

<Layout title="Loopsware | About">
    <NavBar lang="es" />
    <main>
        <!-- Main section -->
        <div class="about-section my-20 md:my-10">
			<div class="p-6 md:p-8 lg:p-16">
				<div class="flex mb-6">
					<div class="h-8 bg-lime-200">
						<h2 style={{"font-family": "Grotesque"}} class="text-4xl md:text-5xl font-black translate-x-2">Acerca de</h2>
					</div>
				</div>
				<p style={{"font-family": "Telegraf", "font-style": "medium"}} class="text-xl font-medium my-4">
					Más sobre el equipo detrás <br />
                    y un poco de contexto de lo que hacemos
				</p>
                <p style={{"font-family": "Inter", "font-style": "medium"}} class="text-lg lg:text-justify font-medium my-8">
                    En Loopsware, nos impulsa una pasión por la innovación y un compromiso con la excelencia. Nuestro viaje comenzó hace un par de años cuando descubrimos el poder transformador de React y React Native. Con una trayectoria en desarrollo móvil nativo, nos cautivó el potencial de tener una base de código única para ambas plataformas, así como el ecosistema y la comunidad vibrante que lo rodea.
                </p>
                <p style={{"font-family": "Inter", "font-style": "medium"}} class="text-lg lg:text-justify font-medium my-8">
                    Inspirados por el panorama tecnológico en constante evolución, empujamos continuamente los límites de lo que es posible. Nos dedicamos a mantenernos a la vanguardia, aprovechando las tecnologías más recientes para ofrecer soluciones innovadoras y de gran impacto. En Loopsware, no solo estamos construyendo productos; estamos diseñando experiencias que dejan una huella duradera.
                </p>
                <div class="flex flex-col md:flex-row mt-8 md:mt-16">
                    <div class="w-full">
                        <div class="flex justify-between mt-2">
                            <div class="flex flex-col pr-4 lg:pr-8">
                                <img class="h-12 w-16 xl:h-16 xl:w-16" src="/images/lightbulb_3d.png" alt="3D lightbulb" />
                                <p style={{"font-family": "Inter", "font-style": "bold"}} class="text-lg xl:text-xl font-black">Filosofía</p>
                                <p class="md:text-sm lg:text-md xl:text-lg my-4">
                                    Ofrecemos soluciones personalizables y la mejor experiencia a nuestros clientes. Detrás de cada pantalla siempre debe haber un gran diseño.
                                </p>
                            </div>
                            <div class="flex flex-col pr-4 lg:pr-8">
                                <img class="h-12 w-20 xl:h-16 xl:w-24" src="/images/handshake_3d.png" alt="3D handshake" />
                                <p style={{"font-family": "Inter", "font-style": "bold"}} class="text-lg xl:text-xl font-black">Compromiso</p>
                                <p class="md:text-sm lg:text-md xl:text-lg my-4">
                                    
El cliente es nuestro activo más importante. Estamos comprometidos a entregar los mejores resultados y asegurarnos de que el producto final sea lanzado.
                                </p>
                            </div> 
                            <div class="flex flex-col pr-4 lg:pr-8">
                                <img class="h-12 w-12 xl:h-16 xl:w-16" src="/images/flag_3d.png" alt="3D flag" />
                                <p style={{"font-family": "Inter", "font-style": "bold"}} class="text-lg xl:text-xl font-black">Misión</p>
                                <p class="md:text-sm lg:text-md xl:text-lg my-4">
                                    Crear las mejores experiencias multiplataforma para los sistemas operativos nativos, ayudando a que cada proyecto alcance su máximo potencial.
                                </p>
                            </div>
                        </div>
                    </div>
                   
                </div>
                 <div class="flex flex-row justify-around w-full my-20">
                    <div class="w-1/2 mr-8">
                        <FounderCard founder="oliver" lang="es" />
                    </div>
                    <div class="w-1/2 ml-8">
                        <FounderCard founder="fer" lang="es" />
                    </div>
                </div>
                <div class="hidden md:block w-4/6">
				<FooterLabel title="About" />
			</div>
			</div>
		</div>
        <!-- Tech Stack -->
        <div class="stack-section my-10">
            <div class="p-6 md:p-8 lg:p-16">
                <div class="flex mb-6">
					<div class="h-8 bg-lime-200">
						<h2 style={{"font-family": "Grotesque"}} class="text-4xl md:text-5xl font-black translate-x-2">Tecnologías</h2>
					</div>
				</div>
				<p style={{"font-family": "Telegraf", "font-style": "medium"}} class="text-xl font-medium my-4">
					Las herramientas que utilizamos <br />
                    para hacer tu idea realidad
				</p>
                <div class="flex flex-col md:flex-row w-full justify-between items-center">
                    <div class="w-full md:w-11/12 xl:w-7/12">
                        <div class="grid grid-cols-3 my-8 md:my-0">
                            <div class="my-4">
                                <a href="https://reactnative.dev/" target="_blank" class="flex flex-col justify-center items-center border-3 border-gray-300 hover:border-lime-200 rounded-2xl p-2 md:p-4 xl:p-8 my-3 lg:my-8 mr-3 lg:mr-8">
                                    <img class="w-14 h-12 lg:w-24 lg:h-20 xl:w-28 xl:h-24" src="/images/react_native_logo.png" alt="React logo" />
                                    <p style={{"font-family": "Telegraf", "font-size": "bold"}} class="text-xs md:text-lg xl:text-xl font-black line-clamp-1 mt-4">React Native</p>
                                </a>
                                <a href="https://swift.org/" target="_blank" class="flex flex-col justify-center items-center border-3 border-gray-300 hover:border-lime-200 rounded-2xl p-2 md:p-4 xl:p-8 my-3 lg:my-8 mr-3 lg:mr-8">
                                    <img class="w-14 h-12 lg:w-24 lg:h-20 xl:w-28 xl:h-24" src="/images/swift_logo.png" alt="Swift logo" />
                                    <p style={{"font-family": "Telegraf", "font-size": "bold"}} class="text-md lg:text-xl font-black mt-2 md:mt-4">Swift</p>
                                </a>
                            </div>
                            <div class="my-4">
                                <a href="https://expo.dev/" target="_blank" class="flex flex-col justify-center items-center border-3 border-gray-300 hover:border-lime-200 rounded-2xl p-2 md:p-4 xl:p-8 my-3 lg:my-8 mr-3 lg:mr-8">
                                    <img class="w-12 h-12 lg:w-24 lg:h-20 xl:w-28 xl:h-24" src="/images/expo_logo.svg" alt="Expo logo" />
                                    <p style={{"font-family": "Telegraf", "font-size": "bold"}} class="text-md lg:text-xl font-black mt-2 md:mt-4">Expo</p>
                                </a>
                                <a href="https://kotlinlang.org/" target="_blank" class="flex flex-col justify-center items-center border-3 border-gray-300 hover:border-lime-200 rounded-2xl p-2 md:p-4 xl:p-8 my-3 lg:my-8 mr-3 lg:mr-8">
                                    <img class="w-12 h-12 lg:w-20 lg:h-20 xl:w-24 xl:h-24" src="/images/kotlin_logo.png" alt="Kotlin logo" />
                                    <p style={{"font-family": "Telegraf", "font-size": "bold"}} class="text-md lg:text-xl font-black mt-2 md:mt-4">Kotlin</p>
                                </a>
                            </div>
                            <div class="my-4">
                               <a href="https://nodejs.org/en/about" target="_blank" class="flex flex-col justify-center items-center border-3 border-gray-300 hover:border-lime-200 rounded-2xl p-2 md:p-4 xl:p-8 my-3 lg:my-8 mr-3 lg:mr-8">
                                    <img class="w-12 h-12 lg:w-20 lg:h-20 xl:w-24 xl:h-24" src="/images/nodejs_logo.png" alt="Node.js logo" />
                                    <p style={{"font-family": "Telegraf", "font-size": "bold"}} class="text-md lg:text-xl font-black mt-2 md:mt-4">Node.js</p>
                                </a>
                                <a href="https://www.python.org/" target="_blank" class="flex flex-col justify-center items-center border-3 border-gray-300 hover:border-lime-200 rounded-2xl p-2 md:p-4 xl:p-8 my-3 lg:my-8 mr-3 lg:mr-8">
                                    <img class="w-12 h-12 lg:w-20 lg:h-20 xl:w-24 xl:h-24" src="/images/python_logo.png" alt="Python logo" />
                                    <p style={{"font-family": "Telegraf", "font-size": "bold"}} class="text-md lg:text-xl font-black mt-2 md:mt-4">Python</p>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="flex justify-center lg:justify-start">
                        <ComputerScene client:load />
                        <!-- <div id="scene" class="cursor-grab"></div> -->
                    </div>
                </div>
                <div class="hidden md:block w-4/6 my-8">
				<FooterLabel title="About" />
			</div>
            </div>
        </div>
    </main>
    <Footer />
</Layout>

<script is:inline type="module">
    import anime from 'https://cdn.skypack.dev/animejs';
    
    const aboutSection = document.querySelector('.about-section');
    const stackSection = document.querySelector('.stack-section');
    
    const observer = new IntersectionObserver(function(entries) {
        entries.forEach(function(entry) {
            if (entry.isIntersecting) {
                anime({
                    targets: entry.target,
                    opacity: [0, 1], // Fade the section in
                    translateY: [250, 0], // Move the section up
                    duration: 2000,
				    delay: entry.target === aboutSection ? 0 : 500,
                    easing: 'easeOutExpo' // Use an exponential easing function
                });
                observer.unobserve(entry.target);
            }
        });
    }, {
        rootMargin: '-5% 0px', // Trigger when the top of the screen is halfway to the section
    });

    observer.observe(aboutSection);
    observer.observe(stackSection);
</script>