---
import  SpeedInsights  from "@vercel/speed-insights/astro"
//* Layout
import Layout from '../../layouts/Layout.astro';
import NavBar from '../../layouts/NavBar.astro';
import Footer from '../../layouts/Footer.astro';
//* UI comps.
import Button from '../../components/Button.astro';
import Availability from '../../components/Availability.astro';
import ServiceBoxes from '../../components/ServiceBoxes.astro';
import ShowcaseCard from '../../components/ShowcaseCard.astro';
import TestimonialCard from '../../components/TestimonialCard.astro';
import ContactForm from '../../components/ContactForm.astro';
import FooterLabel from '../../components/FooterLabel.astro';
import Scene from '../../components/Scene.jsx';
---

<Layout title="Loopsware | Expertos en React Native">
	<SpeedInsights />
	<NavBar lang="es" />
	<main>
		<!-- Main section -->
		<div class="flex flex-col-reverse md:grid md:grid-cols-2 xl:h-screen w-full md:my-12 xl:my-0">
			<div class="flex flex-col justify-center px-4 md:px-8 lg:px-16">
				<Availability title={"Alta Disponibilidad"} status={"available"} />
				<h1 style={{"font-family": "Grotesque"}}  class="text-element text-black text-3xl md:text-4xl xl:text-5xl font-black p-2">De una lluvia de ideas a una aplicación real.</h1>
				<p style={{"font-family": "Telegraf"}} class="text-element font-medium text-md md:text-lg lg:text-xl xl:text-2xl px-2 py-5">
					Desarrollo multiplataforma en <span class="font-bold">Expo</span> y <span class="font-bold">React Native</span>,
                    Estamos listos para construir tu próxima idea con soporte para Android, iOS y Web. 
				</p>
				<div class="flex w-full mt-8">
					<Button title='Precios' href="/pricing" isBlack />
					<div class="mx-2 md:mx-3 my-2 md:my-0"></div>
					<Button title='Hablemos' href="https://cal.com/oliverloops/15min" isBlack={false} />
				</div>
			</div>
			<div class="flex flex-col justify-center items-center pr-0 md:pr-8 lg:pr-0 mt-20 md:mt-0">
				<Scene client:load />
				<!-- <div id="scene" class="cursor-grab"></div> -->
			</div>
			<div class="hidden md:block md:mx-8 lg:mx-16 md:mt-16 xl:mt-0">
				<FooterLabel title="Inicio" />
			</div>
		</div>
		<!-- Services -->
		<div class="services-section mt-10 md:mt-0 mb-10">
			<div id="services" class="p-4 md:p-8 lg:p-16">
				<div class="flex mb-6">
					<div class="h-8 bg-lime-200">
						<h2 style={{"font-family": "Grotesque"}} class="text-4xl md:text-5xl font-black translate-x-2">Servicios</h2>
					</div>
				</div>
				<p style={{"font-family": "Telegraf", "font-style": "medium"}} class="text-xl font-medium my-2">
                    ¿Necesitas ayuda?. Podemos construir tu app <br class="hidden md:block" />
                    desde cero o contribuir en proyectos existentes.
				</p>   
			</div>
			<ServiceBoxes lang="es" />
			<div class="hidden md:block w-5/6 my-10 md:mx-8 lg:mx-16">
				<FooterLabel title="Inicio" />
			</div>
		</div>
		<!-- Benefits -->
		<div class="benefits-section md:my-16 xl:my-10">
			<div  class="p-4 md:p-8 lg:p-16">
				<div class="flex mb-6">
					<div class="h-8 bg-lime-200">
						<h2 style={{"font-family": "Grotesque"}} class="text-4xl md:text-5xl font-black translate-x-2">Beneficios</h2>
					</div>
				</div>
				<p style={{"font-family": "Telegraf", "font-style": "medium"}} class="text-xl font-medium my-2">
                    ¿Por qué es la elección correcta para tu proyecto? <br class="hidden md:block" />
					Estos son algunos de los beneficios para ti.
				</p>   
			</div>
			<div class="grid grid-cols-1 md:grid-cols-3 mt-10 md:mt-2">
				<div>
					<div class="benefit-item flex flex-col items-center">
						<div class="flex flex-col justify-center h-20 w-20 lg:h-24 lg:w-24 bg-lime-200">
							<img class="h-24 w-24 md:h-28 md:w-28 lg:h-32 lg:w-32 translate-x-2 translate-y-2 absolute" src="/images/colorpallettes_3d.png" alt="Quality icon" />
						</div>
						<p style={{"font-family": "Telegraf", "font-style": "bold"}} class="text-lg font-black mt-4">
							Diseño UI único
						</p>
						<p style={{"font-family": "Telegraf", "font-style": "medium"}} class="text-center my-2">
                            Diseños personalizados hechos <br />
							para una mejor experiencia 
						</p>
					</div>
					<div class="benefit-item flex flex-col items-center my-16">
						<div class="flex flex-col justify-center h-20 w-20 lg:h-24 lg:w-24 bg-lime-200">
							<img class="h-24 w-24 md:h-28 md:w-28 translate-x-2 translate-y-2 absolute" src="/images/fast_3d.png" alt="Quality icon" />
						</div>						
						<p style={{"font-family": "Telegraf", "font-style": "bold"}} class="text-lg font-black mt-4">
							Entrega rápida
						</p>
						<p style={{"font-family": "Telegraf", "font-style": "medium"}} class="text-center my-2">
                            El diseño está listo en pocos días, <br />
                            el desarrollo en unas semanas para un MVP
						</p>
					</div>
				</div>
				<div>
					<div class="benefit-item flex flex-col items-center">
						<div class="flex flex-col justify-center h-20 w-20 lg:h-24 lg:w-24 bg-lime-200">
							<img class="h-24 w-24 md:h-28 md:w-28 translate-x-2 translate-y-2 absolute" src="/images/custom_3d.png" alt="Quality icon" />
						</div>
						<p style={{"font-family": "Telegraf", "font-style": "bold"}} class="text-lg font-black mt-4">
							Personalización total
						</p>
						<p style={{"font-family": "Telegraf", "font-style": "medium"}} class="text-center my-2">
                            La aplicación es construida bajo <br />
							las necesidades de tu proyecto
						</p>
					</div>
					<div class="benefit-item flex flex-col items-center my-16">
						<div class="flex flex-col justify-center h-20 w-20 lg:h-24 lg:w-24 bg-lime-200">
							<img class="h-24 w-24 translate-x-4 translate-y-2 absolute" src="/images/kanban_3d.png" alt="Quality icon" />
						</div>
						<p style={{"font-family": "Telegraf", "font-style": "bold"}} class="text-lg font-black mt-4">
							Gestión simple
						</p>
						<p style={{"font-family": "Telegraf", "font-style": "medium"}} class="text-center my-2">
							Tableros kanban sencillos, <br />
							no herramientas complicadas
						</p>
					</div>
				</div>
				<div>
					<div class="benefit-item flex flex-col items-center">
						<div class="flex flex-col justify-center h-20 w-20 lg:h-24 lg:w-24 bg-lime-200">
							<img class="h-24 w-24 translate-x-4 translate-y-2 absolute" src="/images/crossplatform_3d.png" alt="Quality icon" />
						</div>
						<p style={{"font-family": "Telegraf", "font-style": "bold"}} class="text-lg font-black mt-4">
							Múltiples plataformas
						</p>
						<p style={{"font-family": "Telegraf", "font-style": "medium"}} class="text-center my-2">
                            Lleva tu app a Android, iOS <br />
                            y la web con una sola base de código
						</p>
					</div>
					<div class="benefit-item flex flex-col items-center my-16">
						<div class="flex flex-col justify-center h-20 w-20 lg:h-24 lg:w-24 bg-lime-200">
							<img class="h-24 w-24 md:h-28 md:w-28 translate-x-2 translate-y-2 absolute" src="/images/moneywrapped_3d.png" alt="Quality icon" />
						</div>
						<p style={{"font-family": "Telegraf", "font-style": "bold"}} class="text-lg font-black mt-4">
							Precio mensual fijo
						</p>
						<p style={{"font-family": "Telegraf", "font-style": "medium"}} class="text-center my-2">
                            No tarifas por hora, sin sopresas. <br />
                            trabajamos bajo un precio fijo mensual
						</p>
					</div>
				</div>
			<div class="hidden md:block w-5/6 my-10 md:mx-8 lg:mx-16">
				<FooterLabel title="Inicio" />
			</div>
		</div>
		<!-- Work -->
		<div id="work" class="my-10">
			<div class="p-4 md:p-8 lg:p-16">
				<div class="flex mb-6">
					<div class="h-8 bg-lime-200">
						<h2 style={{"font-family": "Grotesque"}} class="text-4xl md:text-5xl font-black translate-x-2">Trabajo</h2>
					</div>
				</div>
				<p style={{"font-family": "Telegraf", "font-style": "medium"}} class="text-xl font-medium my-4">
                    Tenemos experiencia creando <br />
					experiencias moviles digitales desde cero. 
				</p>   
			</div>
			<div class="grid grid-cols-1 md:grid-cols-2 md:px-4 lg:pl-8 lg:pr-12 lg:px-0">
				<div class="flex flex-col items-center">
					<ShowcaseCard title="medizona" size="large" route='/es/showcase/post-3' />
					<div class="flex flex-row justify-between w-11/12">
						<div  class="w-11/12 lg:w-full mr-2 lg:mr-6">
							<ShowcaseCard title="kluu" size="small" route='/es/showcase/post-1' />
						</div>
						<div class="w-11/12 lg:w-full ml-2 lg:ml-6">
							<!-- <ShowcaseCard title="Arriba" size="small" route='arriba' /> -->
							<ShowcaseCard title="ug groups" size="small" route='/es/showcase/post-2' />
						</div>
					</div>
				</div>
				<div class="flex flex-col items-center">
					<ShowcaseCard title="boletomovil" size="large" route='https://play.google.com/store/apps/details?id=com.livement.livement&hl=es' />
					<div class="flex flex-row justify-between w-11/12">
						<!-- <div class="w-11/12 lg:w-full mr-2 lg:mr-6">
							<ShowcaseCard title="UG groups" size="small" route='poetical' />
						</div> -->
						<a href="/pricing" class="flex justify-center items-center w-full h-52 md:h-44 lg:h-60 border-3 border-gray-300 bg-gray-100  rounded-2xl my-2 md:my-4 lg:my-6 cursor-pointer hover:bg-lime-100 hover:underline transition-all">
							<p style={{"font-family": "Telegraf", "font-style": "bold"}} class="font-black text-xl lg:text-2xl hover:underline">¿Tu App? &rarr;</p>
						</a>	
					</div>
				</div>
			</div>
			<div class="hidden md:block w-3/6 my-10 mx-8 lg:mx-16">
				<FooterLabel title="Inicio" />
			</div>
		</div>
		<!-- Testimonials -->
		<div class="testimonials-section my-10">
			<div class="p-4 md:p-8 lg:p-16">
				<div class="flex mb-6">
					<div class="h-8 bg-lime-200">
						<h2 style={{"font-family": "Grotesque"}} class="text-4xl md:text-5xl font-black translate-x-2">Testimonios:</h2>
					</div>
				</div>
				<p style={{"font-family": "Telegraf", "font-style": "medium"}} class="text-xl font-medium my-4">
                    Lo que algunos de los clientes y <br />
					colaboradores anteriores opinan <a class="font-bold text-blue-500 underline" href="/about">acerca</a>  
				</p>   
			</div>
			<div class="grid grid-cols-1 md:grid-cols-2 md:grid-rows-3 xl:grid-cols-3 xl:grid-rows-2 px-4 lg:px-12">
				<TestimonialCard lang="es" testimony='one' />
				<TestimonialCard lang="es" testimony='three' />
				<TestimonialCard lang="es" testimony='five' />
				<TestimonialCard lang="es" testimony='two' />
				<TestimonialCard lang="es" testimony='four' />
				<TestimonialCard lang="es" testimony='six' />
			</div>
			<div class="hidden md:block h-10 w-4/6 p-4 p-8 lg:p-16">
				<FooterLabel title="Inicio" />
			</div>
		</div>
		<!-- Contact Us -->
		<div class="contact-section my-20 xl:mt-24 xl:my-10">
			<div class="grid grid-cols-1 md:grid-cols-2 p-4 md:py-8 md:pr-8 md:pl-8 xl:py-0 lg:pl-16">
				<div class="flex flex-col w-full md:w-10/12 lg:w-full md:block">
					<div class="flex flex-col">
						<h2 style={{"font-family": "Grotesque"}} class="text-3xl xl:text-4xl font-black">
                            Dejanos saber <br />
							sobre tu proyecto
						</h2>
						<p style={{"font-family": "Telegraf", "font-style": "medium"}} class="xl:text-xl font-medium my-4">
                            Pregunta lo que sea, cuentanos más sobre tu<br class="block md:hidden lg:block" />
							siguiente idea. Responderemos lo más pronto posible.
						</p>
					</div>
					<img class="h-4/6 lg:3/6 xl:h-3/6" src="/images/oliver_3d.png" alt="Man working on a laptop" />
				</div>
				<div class="lg:mr-12">
					<ContactForm lang="es" />
				</div>
			</div>
			<div class="faq-section px-4 my-10 md:px-8 xl:px-16 xl:my-0">
				<div class="flex flex-col lg:flex-row justify-between">
					<div class="lg:w-5/12">
						<h3 style={{"font-family": "Grotesque"}} class="text-3xl xl:text-4xl font-black">
                            Preguntas <br />
                            frecuentes
						</h3>
						<div class="flex flex-col my-6">
							<div class="flex flex-col my-2">
								<div class="flex justify-between">
									<p style={{"font-family": "Inter", "font-style": "medium"}} class="text-lg text-slate-600">¿Y si contrato a un desarrollador móvil a tiempo completo?</p>
									<p class="downArrow text-xl text-slate-600 cursor-pointer transform transition-transform">&darr;</p>
								</div>
								<p style={{"font-family": "Inter", "font-style": "medium"}}  class="questionText text-md my-2 hidden">
									El salario promedio de un desarrollador móvil experto puede superar los $50,000 MXN mensuales (dependiendo de su experiencia algunos pueden cobrar más).
									También debes considerar el número de plataformas que necesitas, generalmente necesitas contratar a más de un desarrollador.
								</p>
							</div>
							<div class="flex flex-col my-2">
								<div class="flex justify-between">
									<p style={{"font-family": "Inter", "font-style": "medium"}} class="text-lg text-slate-600">¿Puedes hacer apps para Android y iOS?</p>
									<p class="downArrow text-xl text-slate-600 cursor-pointer transform transition-transform">&darr;</p>
								</div>
								<p style={{"font-family": "Inter", "font-style": "medium"}} class="questionText text-md my-2 hidden" >
									Gracias a tecnologías como Expo y React Native podemos construir apps para ambas plataformas con una sola base de código.
									Ahorrando costos adicionales y tiempo de desarrollo.
								</p>
							</div>
							<div class="flex flex-col my-2">
								<div class="flex justify-between">
									<p style={{"font-family": "Inter", "font-style": "medium"}} class="text-lg text-slate-600">¿Qué es Expo y React Native?</p>
									<p class="downArrow text-xl text-slate-600 cursor-pointer transform transition-transform">&darr;</p>
								</div>
								<p style={{"font-family": "Inter", "font-style": "medium"}} class="questionText text-md my-2 hidden">
									!Buena pregunta!, <a class="font-bold text-black underline" href="https://expo.dev">Expo</a> son un conjunto de herramientas y servicios para construir apps en iOS y Android.
									<a class="font-bold text-blue-400 underline" href="https://reactnative.dev">React Native</a> es un framework para construir aplicaciones móviles nativas (y más plataformas nativas) usando <a class="font-bold text-blue-400 underline" href="https://react.dev">React</a>.
								</p>
							</div>
							<div class="flex flex-col my-2">
								<div class="flex justify-between">
									<p style={{"font-family": "Inter", "font-style": "medium"}} class="text-lg text-slate-600">¿Cómo React Native beneficiaría mi negocio?</p>
									<p class="downArrow text-xl text-slate-600 cursor-pointer transform transition-transform">&darr;</p>
								</div>
								<p style={{"font-family": "Inter", "font-style": "medium"}}  class="questionText text-md my-2 hidden">
									Si estás comenzando un nuevo proyecto o empresa, puedes ahorrar mucho en costos usando una base de código compartida de React Native
									en lugar de construir aplicaciones separadas para iOS y Android o incluso la web. También puedes reutilizar el conocimiento sobre desarrollo web
									y el equipo de desarrollo móvil puede reestructurarse para compartir código entre diferentes equipos.
								</p>
							</div>
							<div class="flex flex-col my-2">
								<div class="flex justify-between">
									<p style={{"font-family": "Inter", "font-style": "medium"}} class="text-lg text-slate-600">¿Qué programas y tecnologías utilizas?</p>
									<p class="downArrow text-xl text-slate-600 cursor-pointer transform transition-transform">&darr;</p>
								</div>
								<p style={{"font-family": "Inter", "font-style": "medium"}} class="questionText text-md my-2 hidden" >
									Utilizo Visual Studio Code como mi editor principal, Figma para diseño de UI/UX, Xcode y Android Studio cuando es necesario.
									Para el desarrollo trabajo principalmente con React, React Native, Expo y Node.js.
								</p>
							</div>
							<div class="flex flex-col my-2">
								<div class="flex justify-between">
									<p style={{"font-family": "Inter", "font-style": "medium"}} class="text-lg text-slate-600">¿Cómo es tu proceso de trabajo?</p>
									<p class="downArrow text-xl text-slate-600 cursor-pointer transform transition-transform">&darr;</p>
								</div>
								<p style={{"font-family": "Inter", "font-style": "medium"}} class="questionText text-md my-2 hidden" >
									Comenzamos con una llamada para entender tu proyecto, tal vez dar algunas ideas o sugerencias (si es necesario)
									luego creo un plan de diseño y desarrollo, iteramos en el diseño antes de la etapa de desarrollo.
									Después de eso, comienzo el desarrollo y nos mantenemos en contacto para retroalimentación y actualizaciones.
								</p>
							</div>
							<div class="flex flex-col my-2">
								<div class="flex justify-between">
									<p style={{"font-family": "Inter", "font-style": "medium"}} class="text-lg text-slate-600">¿Qué pasa si no me gustan los resultados?</p>
									<p class="downArrow text-xl text-slate-600 cursor-pointer transform transition-transform">&darr;</p>
								</div>
								<p style={{"font-family": "Inter", "font-style": "medium"}} class="questionText text-md my-2 hidden" >
									No tienes que preocuparte por eso, iteraremos el diseño y desarrollo hasta que estés satisfecho con los resultados.
								</p>
							</div>
							<div class="flex flex-col my-2">
								<div class="flex justify-between">
									<p style={{"font-family": "Inter", "font-style": "medium"}} class="text-lg text-slate-600">¿Cuál es el método de pago?</p>
									<p class="downArrow text-xl text-slate-600 cursor-pointer transform transition-transform">&darr;</p>
								</div>
								<p style={{"font-family": "Inter", "font-style": "medium"}} class="questionText text-md my-2 hidden" >
									Trabajamos con una tarifa mensual fija, el pago es a través de Stripe (link proporcionado una vez que estemos listos para comenzar).
									Si eres de México puedes realizar transferencias bancarias.
								</p>
							</div>
							<div class="flex flex-col my-2">
								<div class="flex justify-between">
									<p style={{"font-family": "Inter", "font-style": "medium"}} class="text-lg text-slate-600">¿Puedes hacer sitios web para negocio?</p>
									<p class="downArrow text-xl text-slate-600 cursor-pointer transform transition-transform">&darr;</p>
								</div>
								<p style={{"font-family": "Inter", "font-style": "medium"}} class="questionText text-md my-2 hidden" >
									Loopsware está enfocado en el desarrollo móvil, pero es posible construir <span style={{"font-family": "Inter", "font-style": "bold"}} class="font-bold">ÚNICAMENTE</span> una aplicación web compleja si lo requieres.
								</p>
							</div>
						</div>
					</div>
					<div class="flex justify-center">
					<div class="md:w-8/12 lg:w-11/12 lg:h-72 border-3 border-gray-200 rounded-2xl px-6 md:px-8 mt-14 lg:mt-0 pb-4">
						<div class="flex justify-between items-center mb-4 md:mb-0">
							<div class="flex mb-6">
								<div class="h-8 md:bg-lime-200">
									<h3 style={{"font-family": "Grotesque"}} class="text-3xl lg:text-4xl font-black md:translate-x-2 md:translate-y-1 md:whitespace-nowrap">¿Tienes más preguntas?</h3>
								</div>
							</div>
							<img class="w-20 h-20 lg:w-28 lg:h-28 translate-x-8 md:translate-x-12 -translate-y-8" src="/images/faq_icon.png" alt="FAQ icon" />
						</div>
						<p style={{"font-family": "Inter", "font-style": "medium"}} class="md:text-lg mb-4">
                            Puedes agendar una llamada gratuita de 15 minutos para <br class="hidden lg:block" />
                            preguntar lo que sea, platicar sobre tu proyecto, etc. 
						</p>
						<a href="https://cal.com/oliverloops/15min" class="flex justify-center" target="_blank">
        					<button class="h-12 lg:h-14 w-3/4 md:w-3/5 xl:w-3/6 bg-stone-900 rounded-full my-2 hover:opacity-90 hover:shadow-lg transition-all">
            					<p style={{"font-family": "Inter", "font-style": "bold"}}  class="text-white font-bold px-4 py-2" >Agendar llamada gratuita</p>
        					</button>
    					</a>
					</div>						
					</div>
				</div>
			</div>
		</div>
	</main>
	<Footer />
</Layout>

<style>
html {
    scroll-behavior: smooth;
}
@keyframes slideDownFadeIn {
0% {
    opacity: 0;
    transform: translateY(-20px);
}
100% {
    opacity: 1;
    transform: translateY(0);
}
}
.show-text {
animation: slideDownFadeIn 0.3s ease-out forwards;
}
</style>

<script is:inline type="module">
import anime from 'https://cdn.skypack.dev/animejs';

function toggleAnswer(event) {
	const arrow = event.target;
    arrow.classList.toggle('rotate-180');
}

document.querySelectorAll('.downArrow').forEach(function(downArrow) {
    downArrow.addEventListener('click', function() {
	toggleAnswer(event);
    var textElement = this.parentElement.nextElementSibling;
    if (textElement.classList.contains('hidden')) {
        textElement.classList.remove('hidden');
        textElement.classList.add('show-text');
    } else {
        textElement.classList.add('hidden');
        textElement.classList.remove('show-text');
    }
});
});

// Text entrance animation
document.querySelectorAll('.text-element').forEach(function(textElement) {
    const observer = new IntersectionObserver(function(entries) {
        entries.forEach(function(entry) {
            if (entry.isIntersecting) {
                anime({
                    targets: entry.target,
                    opacity: [0, 1],
                    translateY: [-70, 0],
                    duration: 2000,
                    easing: 'easeOutExpo'
                });
                observer.unobserve(entry.target);
            }
        });
    });

    observer.observe(textElement);
});

// Scene entrance animation
const scene = document.getElementById('scene');

const sceneObserver = new IntersectionObserver(function(entries) {
	entries.forEach(function(entry) {
		if (entry.isIntersecting) {
			anime({
				targets: scene,
				opacity: [0, 1],
				translateX: [250, 0],
				duration: 2500,
				easing: 'easeOutExpo'
			});
			sceneObserver.unobserve(scene);
		}
	});
});

sceneObserver.observe(scene);

const servicesSection = document.querySelector('.services-section');
const benefitsSection = document.querySelector('.benefits-section');
const workSection = document.querySelector('#work');
const testimonialsSection = document.querySelector('.testimonials-section');
const contactSection = document.querySelector('.contact-section');
const faqSection = document.querySelector('.faq-section');

const observer = new IntersectionObserver(function(entries) {
    entries.forEach(function(entry) {
        if (entry.isIntersecting) {
            anime({
                targets: entry.target,
                opacity: [0, 1], // Fade the section in
                translateY: [250, 0], // Move the section up
                duration: 2000,
				delay: entry.target === servicesSection ? 0 : 500,
                easing: 'easeOutExpo' // Use an exponential easing function
            });
            observer.unobserve(entry.target);
        }
    });
}, {
    rootMargin: '-5% 0px', // Trigger when the top of the screen is halfway to the section
});

observer.observe(servicesSection);
observer.observe(workSection);
observer.observe(testimonialsSection);
observer.observe(contactSection);
observer.observe(faqSection);

const benefitsItems = benefitsSection.querySelectorAll('.benefit-item');

const itemsObserver = new IntersectionObserver(function(entries) {
    entries.forEach(function(entry) {
        if (entry.isIntersecting) {
            // Check if the animation has already been run
            if (entry.target.dataset.animated) return;
			anime({
                targets: entry.target,
                opacity: [0, 1], // Fade the section in
                translateY: [250, 0], // Move the section up
                duration: 2000,
				delay: entry.target === servicesSection ? 0 : 500,
                easing: 'easeOutExpo' // Use an exponential easing function
            });

            benefitsItems.forEach(function(benefitItem, index) {
				anime({
                    targets: benefitItem,
                    opacity: [0, 1], // Fade the item in
                    translateY: [200, 0], // Move the item up
                    duration: 2500,
                    delay: index * 200, 
                    easing: 'easeOutExpo' // Use an exponential easing function
                });
			});

            // Mark the element as animated
            entry.target.dataset.animated = 'true';

            itemsObserver.unobserve(entry.target);
        }
    });
}, {
    rootMargin: '-5% 0px', // Trigger when the top of the screen is halfway to the section
});

itemsObserver.observe(benefitsSection);
itemsObserver.observe(benefitsItems);
</script>