---
import MadeFromGto from '../components/MadeFromGto.astro'
---

<footer class="flex flex-col mb-8 p-16">
    <div class="flex justify-between items-center">
        <img class="h-16 w-16" src="/public/loophau5_house.png" alt="loophaus house logo" />
        <MadeFromGto />
    </div>
    <div class="border-1 border-gray-200 mt-36 mb-8"></div>
    <div class="flex items-center justify-between">
        <small class="text-md text-gray-300 font-medium">Loophau5 Software ©2024</small>
        <div></div>
    </div>
</footer>