
<footer class="flex flex-col mb-8 p-16">
    <div class="flex">
        <img class="h-14 w-14" src="/public/loophau5_house.png" alt="loophaus house logo" />
    </div>
    <div class="border-1 border-gray-200 mt-36 mb-8"></div>
    <div class="flex">
        <small>Loophau5 Software ©2024</small>
    </div>
</footer>