
<footer class="flex flex-col mb-8 p-16">
    <div class="flex">
        <img class="h-14 w-14" src="/public/loophau5_house.png" alt="loophaus house logo" />
    </div>
    <div class="border-1 border-gray-300 mt-36 mb-8"></div>
    <div class="flex items-center justify-between">
        <small class="text-md text-gray-400 font-medium">Loophau5 Software ©2024</small>
        <div></div>
    </div>
</footer>