---
import MadeFromGto from '../components/MadeFromGto.astro'
---

<footer class="flex flex-col mb-8 px-6 py-16 xl:py-20 md:p-8 lg:p-16">
    <div class="flex justify-between items-center">
        <img class="h-16 w-16 md:h-18 md:w-18" src="/images/loopsware_sq_logo.png" alt="loopsware logo" />
        <MadeFromGto />
    </div>
    <div class="border-1 border-gray-300 mt-20 md:mt-28 mb-6"></div>
    <div class="flex flex-col md:flex-row items-center justify-between">
            <small style={{"font-family": "Telegraf", "font-style": "medium"}} class="text-md text-gray-400 font-medium">Loopsware, S.A. ©2024</small>
            <div class="flex items-center mt-8 md:mt-0">
                <a href="https://x.com/oliverloops">
                    <img class="h-10 w-10 md:h-7 md:w-7 contrast-0 hover:contrast-100 cursor-pointer mx-2" src="/images/Twitter X icon.svg" alt="x logo" />
                </a>
                <a href="https://github.com/oliverloops">
                    <img class="h-11 w-11 md:h-8 md:w-8 contrast-0 hover:contrast-100 cursor-pointer mx-2" src="/images/Github icons8.svg" alt="github logo" />
                </a>
                <a href="https://linkedin.com/in/oliverloops">
                <img class="h-10 w-10 md:h-8 md:w-8 contrast-0 hover:contrast-100 cursor-pointer mx-2" src="/images/Linkedin logo.svg" alt="linkedin logo" />
            </a>
            </div>
        </div>
    </div>
</footer>