

<footer class="flex flex-col mb-8 px-6 pt-12 xl:pt-12 xl:pb-4 md:p-8 lg:p-16 opacity-0 animate-fade-in-up [animation-delay:800ms]">
    <!-- <div class="border-1 border-gray-400 mt-20 md:mt-28 mb-6"></div> -->
    <div class="flex flex-col md:flex-row items-center justify-between">
            <small style={{"font-family": "Telegraf", "font-style": "medium"}} class="text-md text-gray-400 font-medium">Loopsware ©2025</small>
            <small style={{"font-family": "Telegraf", "font-style": "medium"}} class="text-md text-gray-400 font-medium">Coming soon</small>
            <div class="flex items-center mt-8 md:mt-0">
                <a href="https://x.com/loopsware">
                    <img class="h-10 w-10 md:h-6 md:w-6 contrast-0 cursor-pointer mx-2" src="/images/Twitter X icon.svg" alt="x logo" />
                </a>
                <a href="https://www.linkedin.com/company/loopsware">
                    <img class="h-10 w-10 md:h-7 md:w-7 contrast-0 cursor-pointer mx-2" src="/images/Linkedin logo.svg" alt="linkedin logo" />
                </a>
            </div>
        </div>
    </div>
</footer>