

<nav class="flex justify-between items-center px-16 pt-8">
    <img class="h-10" src="/public/loopsware_logo.png" alt="loophaus logo" />
    <div class="flex items-center">
        <a class="text-xl mx-5" href="/">Services</a>
        <a class="text-xl mx-5"  href="/">Pricing</a>
        <a class="text-xl mx-5"  href="/">About</a>
        <button class="h-12 bg-stone-900 rounded-full px-8 ml-5">
            <a class="text-white font-bold" href="/">Book a call</a>
        </button>
    </div>
</nav>