<nav class="navbar flex items-center justify-between w-full bg-white bg-opacity-50 md:bg-opacity-1 p-6 lg:px-16 fixed z-40 md:z-0 top-0 md:relative backdrop-filter backdrop-blur-md">
  <a href="/">
    <img class="h-7 md:h-7 md:w-56 xl:h-10 xl:w-72" src="/public/loopsware_logo.png" alt="loopsware logo" />
  </a>
  <div class="md:hidden z-50 right-6">
    <button id="menu-button" class="relative z-60">
      <span id="line1" class="block w-8 h-1 bg-black mb-2 transition-transform duration-200 rounded"></span>
      <span id="line2" class="block w-8 h-1 bg-black transition-transform duration-200 rounded"></span>
    </button>
  </div>
  <div id="menu" class="flex flex-col md:flex-row md:w-full h-screen md:h-auto md:flex md:justify-end md:items-center md:bg-white md:relative md:p-0 hidden fixed top-0 left-0 w-full bg-white p-6 pt-20 md:mt-0 transition-transform duration-200 z-40 md:z-0">
    <a style={{ "font-family": "Telegraf", "font-style": "medium" }} class="nav-item text-xl md:text-md lg:text-lg xl:text-xl mx-2 md:mx-5 my-3" href="/#services">Services</a>
    <a style={{ "font-family": "Telegraf", "font-style": "medium" }} class="nav-item text-xl md:text-md lg:text-lg xl:text-xl mx-2 md:mx-5 my-3" href="/pricing">Pricing</a>
    <a style={{ "font-family": "Telegraf", "font-style": "medium" }} class="nav-item text-xl md:text-md lg:text-lg xl:text-xl mx-2 md:mx-5 my-3" href="/about">About</a>
    <a style={{ "font-family": "Telegraf", "font-style": "medium" }} class="text-white font-bold" href="https://cal.com/oliverloops/15min" target="_blank">
      <button class="w-2/5 md:w-auto h-12 md:h-10 xl:h-12 bg-stone-900 rounded-full md:px-6 xl:px-8 md:ml-5 my-4 md:my-0 hover:opacity-90 hover:shadow-lg transition-all">
        <p style={{ "font-family": "Telegraf", "font-style": "bold" }}>Book a call</p>
      </button>
    </a>
  </div>
</nav>

<style>
  .slide-in {
    transform: translateX(0);
    transition: transform 0.3s ease-out;
  }

  .slide-out {
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
  }

  .nav-item {
    position: relative;
    overflow: hidden;
  }

  @media (min-width: 1024px) {
    .nav-item::before {
      content: "";
      position: absolute;
      top: 0;
      left: -100%;
      width: 100%;
      height: 70%;
      background-color: rgb(217 249 157);
      transition: left 0.3s ease;
      z-index: -1;
      transform: translate(-10px, -5px);
    }

    .nav-item:hover::before {
      left: 0;
    }
  }
</style>

<script src="https://cdn.skypack.dev/animejs"></script>

<script>
  import anime from 'animejs/lib/anime.es.js';

  var button:any = document.getElementById('menu-button');
  var line1 = document.getElementById('line1');
  var line2 = document.getElementById('line2');
  var menu = document.getElementById('menu');
  var navLinks = document.querySelectorAll('#menu a');

  button.addEventListener('click', function() {
    var isOpen = !menu?.classList.contains('hidden');

    if (isOpen) {
      menu?.classList.add('hidden');
      menu?.classList.add('absolute');
      navLinks.forEach(link => {
        link.classList.add('slide-out');
        link.classList.remove('slide-in');
      });
    } else {
      menu?.classList.remove('hidden');
      menu?.classList.remove('absolute');
      navLinks.forEach(link => {
        link.classList.add('slide-in');
        link.classList.remove('slide-out');
      });
    }

    line1?.classList.toggle('rotate-45', !isOpen);
    line1?.classList.toggle('translate-y-3', !isOpen);
    line2?.classList.toggle('-rotate-45', !isOpen);
  });

  // New code
  var navbar = document.querySelector('.navbar');

  anime({
    targets: navbar,
    translateY: [-300, 0], // Move the navbar from left to its original position
    opacity: [0, 1], // Fade the navbar in
    duration: 1200,
    easing: 'easeOutExpo' // Use an exponential easing function
  });
</script>
