---
import { translations } from '../translations';
let lang: string = Astro.props.lang || 'en';
---

<nav class="navbar flex items-center justify-between w-full md:bg-opacity-1 px-16 pt-14 lg:px-16 fixed z-40 md:z-0 top-0 md:relative backdrop-filter backdrop-blur-md">
  <a href=`${lang === 'en' ? '/' : '/es'}`>
    <img class="h-5 md:h-6 md:w-56 xl:h-10 xl:w-72" src="/images/loopsware_logo.png" alt="loopsware logo" />
  </a>
  <div class="md:hidden z-50 right-6">
    <button id="menu-button" class="relative z-60">
      <span id="line1" class="block w-8 h-1 bg-black mb-2 transition-transform duration-200 rounded"></span>
      <span id="line2" class="block w-8 h-1 bg-black transition-transform duration-200 rounded"></span>
    </button>
  </div>
  <div id="menu" class="flex flex-col md:flex-row md:w-full h-screen md:h-auto md:flex md:justify-end md:items-center md:relative md:p-0 fixed top-0 left-0 w-full bg-transparent p-6 pt-20 md:mt-0 md:z-0">
    <a style={{ "font-family": "Telegraf", "font-style": "medium" }} class="nav-item text-white hover:text-lime-300 text-xl md:text-md lg:text-lg  mx-2 md:mx-5 my-3" href=`${lang === 'en' ? '/' : '/'}`>{translations[lang].navbar.services}</a>
    <a style={{ "font-family": "Telegraf", "font-style": "medium" }} class="nav-item text-white hover:text-lime-300 text-xl md:text-md lg:text-lg mx-2 md:mx-5 my-3" href=`${lang === 'en' ? '/' : '/'}`>{translations[lang].navbar.pricing}</a>
    <a style={{ "font-family": "Telegraf", "font-style": "medium" }} class="nav-item text-white hover:text-lime-300 text-xl md:text-md lg:text-lg mx-2 md:mx-5 my-3" href=`${lang === 'en' ? '/' : '/'}`>{translations[lang].navbar.about}</a>
  </div>
</nav>

<script is:inline type="module">
  import anime from 'https://cdn.skypack.dev/animejs';

  var button = document.getElementById('menu-button');
  var line1 = document.getElementById('line1');
  var line2 = document.getElementById('line2');
  var menu = document.getElementById('menu');
  var navLinks = document.querySelectorAll('#menu a');

  button.addEventListener('click', function() {
    let isOpen = !menu?.classList.contains('hidden');

    if (isOpen) {
      menu?.classList.add('hidden');
      menu?.classList.add('absolute');
      navLinks.forEach(link => {
        link.classList.add('slide-out');
        link.classList.remove('slide-in');
      });
    } else {
      menu?.classList.remove('hidden');
      menu?.classList.remove('absolute');
      navLinks.forEach(link => {
        link.classList.add('slide-in');
        link.classList.remove('slide-out');
      });
    }

    line1?.classList.toggle('rotate-45', !isOpen);
    line1?.classList.toggle('translate-y-3', !isOpen);
    line2?.classList.toggle('-rotate-45', !isOpen);
  });

  let navbar = document.querySelector('.navbar');

  anime({
    targets: navbar,
    translateY: [-300, 0], // Move the navbar from left to its original position
    opacity: [0, 1], // Fade the navbar in
    duration: 1200,
    easing: 'easeOutExpo' // Use an exponential easing function
  });
</script>
